<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.2.1" targetFramework="net40" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net40" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.11.61" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net40" />
  <package id="PaddleOCRSharp" version="4.3.0" targetFramework="net40" />
  <package id="SunnyUI" version="3.6.8.1" targetFramework="net40" />
  <package id="SunnyUI.Common" version="3.6.8.1" targetFramework="net40" />
</packages>